.sobre__descripcion{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: 400; 
    font-size: 1rem;
    flex-direction: column;
    width: 46.9375rem; 
    color:#464646 ;
    padding-left: 1rem;
    margin: 1rem;
}