.skill__lenguajes {
    display: flex;
    width: 8rem;
    height: 10.875rem;
    padding: 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
    background: #ffffff;
    
    


}